!!! 5
%html
  %head
    %meta{charset: "utf-8"}
    %meta{:name => "viewport", :content => "width=device-width, initial-scale=1.0"}
    %meta{:name=> "google-site-verification", :content => "7NaTNd_KDDSDpPGsckX_iiIHpgzUs-AspjxyeXxm-7s"}
    %title= page_title_with_notification
    - if defined?(@subscribe_url)
      %link{:rel => 'alternate', :type => 'application/rss+xml', :href => @subscribe_url}
    = stylesheet_link_tag    "application"
    = javascript_include_tag "application"
    = timeago_script_tag
    - if content_for? :head
      = yield :head
    = csrf_meta_tags

  /[if lt IE 9]
    %div{ :style => "position:fixed;top:0;left:0;right:0;bottom:0;background:black;z-index:999999999;text-align:center;" }
      %a{:href => "http://godarkforie.org/upgrade"}
        %img{:src => "http://godarkforie.org/gonedark.jpg", :alt => "You are using an old version of Internet Explorer. Click here to find out more about the Going Dark For IE movement."}

  %body
    = render :partial => 'layouts/topbar'
    = yield
    = render :partial => 'layouts/footer'
